@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


body{
    background-image: url(./assest/95a01d2de6891f61e3e7639017969283.jpg);
    font-family: "Concert One", sans-serif;
    font-style: normal;
    background-position: center center;
}

.contenedor-secundario{
    width: 597px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    height: 568px;
    opacity: 0.5;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.titulo{
    color: black;
    font-size: 100px;
    margin: 10px;
    border-color: black;
}

.subtitulo{

}

.tarjeta-de-mokepon{
    width: 100px;
    height: 100px;
    background: aqua;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

input{
    display: none;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

#boton-mascota{
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border: #87A922 5px dashed;
    font-family: "Concert One", sans-serif;
    font-style: normal;
    position: absolute;
    top: 500px;
    left: 650px;
    background: none;
}